@font-face {
    font-family: Proxima;
    src: url(../Fonts/Proxima-Nova-Font/Proxima\ Nova\ Font.otf);
}
@font-face {
    font-family: ProximaBold;
    src: url(../Fonts/Proxima-Nova-Font/FontsFree-Net-Proxima-Nova-Bold.otf);
}
@font-face {
    font-family: ProximaThin;
    src: url(../Fonts/Proxima-Nova-Font/FontsFree-Net-Proxima-Nova-Thin.otf);
}


.Proxima{
    font-family: Proxima;
}
.ProximaBold{
    font-family: ProximaBold;
}
.ProximaThin{
    font-family: ProximaThin;
}
.clr-f8f{
    color: #978f8f;
}
.contShop{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.contShopLink{
    text-decoration: none;
}